<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Educacion 1</h3> - <h4>años</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, soluta deserunt pariatur blanditiis ex fugit perspiciatis nihil beatae quas accusamus voluptatibus animi rem tempora suscipit delectus voluptatem explicabo minus dolores.</p>
        </ul>
        <ul>
            <li>
                <h3>Educacion 2</h3> - <h4>años</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, soluta deserunt pariatur blanditiis ex fugit perspiciatis nihil beatae quas accusamus voluptatibus animi rem tempora suscipit delectus voluptatem explicabo minus dolores.</p>
        </ul>
        <ul>
            <li>
                <h3>Educacion 3</h3> - <h4>años</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, soluta deserunt pariatur blanditiis ex fugit perspiciatis nihil beatae quas accusamus voluptatibus animi rem tempora suscipit delectus voluptatem explicabo minus dolores.</p>
        </ul>
    </div>
</div>