<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>años</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, soluta deserunt pariatur blanditiis ex
                fugit perspiciatis nihil beatae quas accusamus voluptatibus animi rem tempora suscipit delectus
                voluptatem explicabo minus dolores.</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h4>años</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, soluta deserunt pariatur blanditiis ex
                fugit perspiciatis nihil beatae quas accusamus voluptatibus animi rem tempora suscipit delectus
                voluptatem explicabo minus dolores.</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h4>años</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, soluta deserunt pariatur blanditiis ex
                fugit perspiciatis nihil beatae quas accusamus voluptatibus animi rem tempora suscipit delectus
                voluptatem explicabo minus dolores.</p>
        </ul>
    </div> -->
