<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/html5.png'" 
                         [imageHeight]="150"
                         [imageWidth]="150"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/css3.png'" 
                         [imageHeight]="150"
                         [imageWidth]="150"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/angular.png'" 
                         [imageHeight]="120"
                         [imageWidth]="120"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/node.png'" 
                         [imageHeight]="130"
                         [imageWidth]="130"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/mysql.png'" 
                         [imageHeight]="150"
                         [imageWidth]="150"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/js.png'" 
                         [imageHeight]="130"
                         [imageWidth]="130"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/githublogo.png'" 
                         [imageHeight]="140"
                         [imageWidth]="140"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/colaboracion.png'" 
                         [imageHeight]="110"
                         [imageWidth]="110"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
                         [radius]="100" 
                         [imageSrc]="'../../../assets/Img/idiomas.png'" 
                         [imageHeight]="140"
                         [imageWidth]="140"
                         [showImage]="true"
                         [showUnits]="false" 
                         [showSubtitle]="false" 
                         [outerStrokeWidth]="15" 
                         [innerStrokeWidth]="5" 
                         [outerStrokeColor]="'#bcc611'" 
                         [innerStrokeColor]="'#4646b9'" 
                         [animation]="true" 
                         [animationDuration]="300">
        </circle-progress>
    </div>
</div>
