
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Img/perfil.JPG" alt="fotoPerfil" id="fotoPerfil" class="img-fluid">
    </div>
    <div id="datos" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>FullStack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestias cupiditate recusandae culpa corrupti praesentium voluptatibus iste, saepe autem facilis necessitatibus reiciendis alias, nesciunt voluptatem! Sint, modi eaque. Quidem, labore!</p>
        </span>
    </div>
</div>