.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*etiqueta nombre*/
#nombre{
    
    font-weight: bold;
}
/*foto de perfil*/
@media (min-width: 901px){
    #fotoPerfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px 3px grey;
        left: 2em;
        top: 22em;
    }
}
@media (min-width: 577px) and (max-width: 900px){
    #fotoPerfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px 3px grey;
        left: 2em;
        top: 18em;
    }
}
@media (max-width: 576px){
    #fotoPerfil{
        position:absolute;
        width: 20%;
        border-radius: 35%;
        box-shadow: 3px 3px 3px 3px grey;
        left: 1em;
        top: 10em;
    }
}
#datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}