<div class="row">
    <div class="container">
        <div class="logo">
            <img id="logoap" src="../../../assets/Img/YPlogo.png" alt="">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/Img/Linkedin.png" alt="linkedin"></a>
            <a href=""><img src="../../../assets/Img/GitHub.png" alt="github"></a>
            <a href=""><img src="../../../assets/Img/Instagram.png" alt="instagram"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>